@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "DM Sans", serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*Nav*/


nav .navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    color: #ea7436;
    margin-right:  13rem;
}

nav ul a{
    transition: 0.1s ease-in-out;
    margin-right: 0.5rem;
    text-transform: uppercase;
}

nav ul a:hover {
    background-color: #ea7436;
}

/*Accueil*/

.espace{
    margin-left: 10px;
    margin-right: 10px;
}
.espace1{
    margin-right: 5em;
}
.photo{
    background: url(/img/membrane.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    padding-top: 320px;
}
.transparant{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 67px;
    width: 100%;
    position: absolute;
    margin-top: -4.2rem;
}
h1{
    font-size: 2rem;
    padding-top: 15px;
}
.discours{
    background-color: #ea7436;
    color: #FFFFFF;
    font-size: 1.3rem;
    padding: 2rem 1rem;
    line-height: 30px;
    text-align: justify;
}
.discours p{
    margin: 0 auto;
    max-width: 100rem;
    box-sizing: border-box;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: roboto;
}

/*Main*/

.main {
    text-align: center;
}

.main li, h2{
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
}

.sub-title{
    margin: 2rem 0; 
}

.main li {
    color: #b4b2b2;
}

.main li::before {
    content: "";
    height: 1rem;
    width:  1.7rem;
    border-radius: 2px;
    border-radius: 0 1rem 0 1rem;
    background-color: #b4b2b2;
    position: absolute;
    margin: 0 -2.3rem;
}

.main h2{
    color: #ea7436;
    font-weight: bold;
    
}

.main p {
    text-align: justify;
    font-size: 1.3rem;
    margin: 0 0 3rem 0;
    text-indent: 1rem;
    line-height: 1.5;
}

.main .sub-title2 {
    margin: 0.7rem 0;
    color: #3754a4;
}

.main .block{
    display: flex;
    gap: 1.5rem;
}

.block1 .carousel{
    width: 400rem;
    height: 100%;
    box-shadow: #b4b2b2;
}
.block1 .carousel img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.3rem;
    border: solid #d2d2d2 0.1rem;
}

.carouselDown .carousel{
    width: 100%;
    height: 70%;
    box-shadow: #b4b2b2;
}
.carouselDown .carousel img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.3rem;
    border: solid #d2d2d2 0.1rem;
}


/*FAQ*/

#FAQ {
    left: 50%;
    right: 50%;
    margin: 1rem;
}

#FAQ h4{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.7rem 0;
}

#FAQ  p{
    font-size: 2rem;
    margin: 0.5rem 0;
}

#FAQ  li {
    list-style-type: none;
    margin: 0.4rem 0 0.4rem 2.3rem;
}

#FAQ  a{
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #ea7436;
    
}

#FAQ  li::before {
    content: "";
    height: 1rem;
    width:  1.7rem;
    border-radius: 2px;
    border-radius: 0 1rem 0 1rem;
    background-color: #ea7436;
    position: absolute;
    margin: 0 -2.3rem;
}

/*Contact*/

#contact h2{
    font-weight: bold;
}

/*Footer*/

footer{
    background: #ea7436;
    font-size: 1.5rem;
    color: #fff;
    width: 100%;
}

footer .boxes{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

footer .boxes P{
    text-transform: uppercase;
    padding:1rem 0;
}

footer .boxes .box{
    text-align: center;
}

footer img {
    width: 2rem;
    background-color: #fff;
    padding: 0 0.5rem;
}

footer i{
    font-size: 2.5rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 10rem;
    margin: 1rem auto;
}

